# If not running interactively, don't do anything
[[ $- != *i* ]] && return

alias sudo='doas'
alias sudoedit='doas rnano'
alias ls="ls --color"
alias ll="ls -l"
alias grep="grep --color=auto"
alias vi="nvim"
alias k="kubecolor"
alias c="cheat"
alias kn='k config set-context --current --namespace'
alias kcc='k config get-contexts'
alias kd='k --force --grace-period=0 delete po'
alias ka='k get all'
alias kaa='k get all -A'
alias kcf='k create -f'
alias kaf='k apply -f'
alias weather="curl wttr.in"
alias gs='git status'
alias gp='git push'
alias ga='git add'
alias gc='git commit -m'
alias gn='git checkout'
alias gb='git branch'
alias gd='git diff'
{{ if eq .chezmoi.hostname "swift3" }}
alias ls="eza"
{{ end }}

export EDITOR="nvim"
export NIXPKGS_ALLOW_UNFREE=1
export do="--dry-run=client -o yaml"
{{ if eq .chezmoi.hostname "uiop" }}
export PATH="$PATH:$HOME/go/bin:$HOME/.local/bin"
export KUBEENV="prod"
export KUBECONFIG="$HOME/k8s/$KUBEENV/kubeconfig"
export TALOSCONFIG="$HOME/k8s/$KUBEENV/talosconfig"
export PASSWORD_STORE_DIR="$HOME/gitlab.c3sl.ufpr.br/c3root/pass"
#export PASSWORD_STORE_DIR="$HOME/github.com/yagoyudi/pass"
export TZ="America/Sao_Paulo"
{{ end }}
{{ if eq .chezmoi.hostname "swift3" }}
export PATH="$PATH:$HOME/go/bin:${KREW_ROOT:-$HOME/.krew}/bin:$HOME/.local/bin"
export NIX_PATH=nixos-config=$HOME/nixos/configuration.nix
export PASSWORD_STORE_DIR="$HOME/github.com/yagoyudi/pass"
export TZ="America/Sao_Paulo"
{{ end }}

source <(kubectl completion bash)
complete -F __start_kubectl k
source <(cheat completion bash)
complete -F __start_cheat c
source <(chezmoi completion bash)
source <(gopass completion bash)
complete -F _command doas

eval "$(starship init bash)"
eval "$(zoxide init bash)"

# https://codeberg.org/dnkl/foot/wiki#user-content-spawning-new-terminal-instances-in-the-current-working-directory
osc7_cwd() {
    local strlen=${#PWD}
    local encoded=""
    local pos c o
    for (( pos=0; pos<strlen; pos++ )); do
        c=${PWD:$pos:1}
        case "$c" in
            [-/:_.!\'\(\)~[:alnum:]] ) o="${c}" ;;
            * ) printf -v o '%%%02X' "'${c}" ;;
        esac
        encoded+="${o}"
    done
    printf '\e]7;file://%s%s\e\\' "${HOSTNAME}" "${encoded}"
}
PROMPT_COMMAND=${PROMPT_COMMAND:+${PROMPT_COMMAND%;}; }osc7_cwd
