# If not running interactively, don't do anything
[[ $- != *i* ]] && return

alias sudo='doas'
alias sudoedit='doas rnano'
alias ls="eza"
alias grep="grep --color=auto"
alias vi="nvim"
alias k="kubecolor"
alias weather="curl wttr.in"

export EDITOR="nvim"
export GOPATH="$HOME/.local/go"
export PATH="$PATH:$GOPATH/bin:$HOME/.local/bin"
export NIX_PATH=nixos-config=$HOME/.config/nixos/configuration.nix
export PASSWORD_STORE_DIR="$HOME/github.com/yagoyudi/pass"
export STARSHIP_CONFIG=$HOME/.config/starship/config.toml
export TZ="America/Sao_Paulo"
{{ if eq .chezmoi.hostname "y" }}
export NETBOX_TOKEN={{ gopassRaw "NETBOX_TOKEN" }}
{{end}}

source <(kubectl completion bash)
complete -F __start_kubectl k
#source <(note completion bash)
source <(chezmoi completion bash)
source <(gopass completion bash)
complete -F _command doas

eval "$(starship init bash)"
eval "$(zoxide init bash)"

# https://codeberg.org/dnkl/foot/wiki#user-content-spawning-new-terminal-instances-in-the-current-working-directory
osc7_cwd() {
    local strlen=${#PWD}
    local encoded=""
    local pos c o
    for (( pos=0; pos<strlen; pos++ )); do
        c=${PWD:$pos:1}
        case "$c" in
            [-/:_.!\'\(\)~[:alnum:]] ) o="${c}" ;;
            * ) printf -v o '%%%02X' "'${c}" ;;
        esac
        encoded+="${o}"
    done
    printf '\e]7;file://%s%s\e\\' "${HOSTNAME}" "${encoded}"
}
PROMPT_COMMAND=${PROMPT_COMMAND:+${PROMPT_COMMAND%;}; }osc7_cwd
