[main]
{{ if eq .chezmoi.hostname "swift3" }}
font=FiraCode:size=13, Noto Color Emoji:size=14
{{ else }}
font=monospace:size=11
{{ end }}
term=xterm-256color

[url]
launch=firefox

[key-bindings]
scrollback-up-page=Control+braceleft
scrollback-down-page=Control+braceright
