[character]
vimcmd_symbol = '[❯](bold green)'

[time]
disabled = false
format = '[ $time ]($style)'

[kubernetes]
{{ if eq .chezmoi.hostname "y" }}
disabled = false
{{ else }}
disabled = true
{{ end }}
